blinker==1.8.2
cffi==1.16.0
click==8.1.8
Flask==3.0.3
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==2.1.5
openpyxl==3.1.2
packaging==24.2
plotly==5.24.1
pycparser==2.22
pygame==2.6.0
pymunk==6.8.1
pyscroll==2.31
PyTMX==3.32
solarwolf==1.6.0
stuntcat==0.2.4
tenacity==9.0.0
thorpy==2.1.8
Werkzeug==3.0.6
zipp==3.20.2
